<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Главная страница</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "fito/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "fito/css/style.css" %}">
</head>
<body>
	<div class="jumbotron">
		<div class="container main-content">
			<div class="col-lg-12">
				<h1>Lorem</h1>
				{% block content %}
				    {% for excercise in excercise %}
					    <div class="post">
					        <div class="date">
					        </div>
					        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
					        <p>{{ post.text|linebreaksbr }}</p></div>
					    {% endfor %}
                {% endblock %}
			</div>
		</div>
	</div>
</body>
</html>